{% extends 'base.html' %}
{% load static %}
{% block main %}
    <div id="water-highchart"></div>
    <script src="{% static '/highcharts/highcharts.js' %}"></script>
{% endblock main %}
{% block scripts %}
    const waterUsageByDay = []
    const xhr = new XMLHttpRequest()
    xhr.open("GET", "/api/usage/?format=json")
    xhr.onreadystatechange = async () => {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            let waterUsageData = JSON.parse(xhr.responseText)
            for (const day of Object.values(waterUsageData)) {
                waterUsageByDay.push([DateTime.fromISO(day.date).toMillis(), day.gallons])
            }
            const waterHighChart = new Highcharts.Chart(
                {
                    title: { text: 'Water Usage' },
                    subtitle: { text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in' },
                    chart: { renderTo: 'water-highchart', zoomType: 'x' },
                    xAxis: { title: { text: 'Date' }, type: 'datetime' },
                    yAxis: { title: { text: 'Gallons' } },
                    series: [{ type: 'area', name: 'Gallons', data: waterUsageByDay }],
                }
            )
            Highcharts.setOptions({ global: { useUTC: false } })
        }
    }
    xhr.send()
{% endblock scripts %}
